/.idea/
/.envrc
/__pycache__/
/*.dot
/.dir-locals.el
/*.out
/*.help.txt
/*.png
/venv/
*.o
**/cmake-build*/
**/workdir*/
**/build*
/log-archive/
**/.cache/
**/build/
**/.idea/
/input-manager-config.json
/graph-config.json
/tests/output/
**/.lit/
/results.json
/rep.json
