#sparse = {{ encoding }}

module {

  func.func @spmv(%a: {{ out_type }},
                  %B: {{ mat_type }},
                  %vec: {{ vtype }}) -> {{ out_type }} {

    %rows = arith.constant {{ rows }} : index
    %c0 = arith.constant 0 : index
    %c1 = arith.constant 1 : index
    %pd = arith.constant {{ pd }} : index

    %positions_buff = sparse_tensor.positions %B {level = 1 : index} : {{ mat_type }} to memref<?xindex>
    %coordinates_buff = sparse_tensor.coordinates %B {level = 1 : index} : {{ mat_type }} to memref<?xindex>
    %values_buff = sparse_tensor.values %B : {{ mat_type }} to memref<?x{{ dtype }}>

    %vec_buff = bufferization.to_memref %vec : memref<{{ cols }}x{{ dtype }}>
    %a_buff = bufferization.to_memref %a : memref<{{ rows }}x{{ dtype }}>

    scf.for %i = %c0 to %rows step %c1 {
      %f0 = memref.load %a_buff[%i] : memref<{{ rows }}x{{ dtype }}>

      %j_start = memref.load %positions_buff[%i] : memref<?xindex>
      %i_plus_one = arith.addi %i, %c1 : index
      %j_end = memref.load %positions_buff[%i_plus_one] : memref<?xindex>

      %a_i = scf.for %j = %j_start to %j_end step %pd iter_args(%acc1 = %f0) -> f64 {

        // find min(j + pd, j_end)
        %j_plus_pd = arith.addi %j, %pd : index
        %j_plus_pd_or_j_end = arith.minui %j_plus_pd, %j_end : index

        // SPE loop
        scf.for %pre = %j to %j_plus_pd_or_j_end step %c1 {
          %col_idx = memref.load %coordinates_buff[%pre] : memref<?xindex>
          memref.prefetch %vec_buff[%col_idx], read, locality<{{ loc_hint }}>, data : memref<{{ cols }}x{{ dtype }}>
        }

        // main loop
        %partial_dot_prod = scf.for %main = %j to %j_plus_pd_or_j_end step %c1 iter_args(%acc2 = %f0) -> f64 {
          %col_idx = memref.load %coordinates_buff[%main] : memref<?xindex>
          %t_val = memref.load %values_buff[%main] : memref<?x{{ dtype }}>
          %v_val = memref.load %vec_buff[%col_idx] : memref<{{ cols }}x{{ dtype }}>
          %14 = {{ mul_op }} %t_val, %v_val : f64
          %15 = {{ add_op }} %acc2, %14 : f64
          scf.yield %15 : f64
        }

        %dot_prod = arith.addf %acc1, %partial_dot_prod : f64
        scf.yield %dot_prod : f64
      }

      memref.store %a_i, %a_buff[%i] : memref<{{ rows }}x{{ dtype }}>
    }

    %5 = bufferization.to_tensor %a_buff restrict : memref<{{ rows }}x{{ dtype }}>
    return %5 : {{ out_type }}
  }
}
